[(path:"/home/cv/game/editor/assets/test.glb",transform:(translation:(-0.31699467,0.37595654,-3.9676223),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0)),parent:None),(path:"/home/cv/game/editor/assets/test.glb",transform:(translation:(5.0,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0)),parent:Some(0)),(path:"/home/cv/game/editor/assets/test.glb",transform:(translation:(5.0,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0)),parent:None)]